.hfeed  article,
.hfeed-post {

	.wp-post-image:not(.card-img-top) {
		margin-bottom: $spacer;
	}

}

.post-navigation {
	margin-top: $spacer * 2;

	.nav-links {
		font-weight: $font-weight-bold;
	}

}

/* Resultados de búsqueda */
.search-loop {
	padding: .5rem 0 0;
	border-bottom: 1px solid $light;

	.entry-title {
		display: inline-block;
	}
}
.post-type-name {
	font-size: $font-size-sm;
	color: $pink;
	display: inline-block;
	margin-left: 1rem;
}
/***/