
body.understrap-no-sidebar {

    .alignwide {
        margin: 0 calc(50% - 37vw);
        max-width: 74vw;

        @include media-breakpoint-down(lg) {
            margin: 0 calc(50% - 50vw);
            max-width: 100vw;    
        }
    }

    .alignwide,
	.alignfull,
	.wp-block-cover.alignwide,
	.wp-block-cover.alignfull {
		margin: $spacer calc(50% - 50vw + #{$spacer*1.5});
		max-width: calc(100vw - #{$spacer*3});
		width: calc(100vw - #{$spacer*3});
    }

}

@media ( max-width: 1920px ) {
    body.understrap-no-sidebar .wp-block-media-text.alignwide {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;    
    }
}

.wp-block-group.alignfull {

    > .wp-block-group__inner-container {
        @include make-container();
        @each $breakpoint, $container-max-width in $container-max-widths {
            @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
                max-width: $container-max-width;
            }
        }
    }

}


.wp-block-group, 
.wp-block-cover {

	&.alignfull, 
    &.alignwide {
		padding: $spacer * 2 0;
	}

    &.is-style-bg-contain {
        background-size: contain !important;

        > .wp-block-cover__image-background,
        > .wp-block-group__background {
            object-fit: contain;
        }
    }

    &.is-style-bg-fill {
        background-size: 100% 100% !important;

        > .wp-block-cover__image-background,
        > .wp-block-group__background {
            object-fit: fill;
        }
    }
}

.wp-block-cover,
.wp-block-group.has-background {
    padding: 1em;
    border-radius: var(--#{$prefix}border-radius-xl);
}

.wp-block-cover,
.overflow-hidden {
    overflow: hidden;
}

p.has-background {
    border-radius: var(--#{$prefix}border-radius);
}



.btn,
.wp-block-buttons .wp-block-button .wp-block-button__link {
}

/* Botones */
// .btn-lg:not(.btn-outline-primary):not(.not-arrow) {
// 	position: relative;
// 	margin-left: 3.4rem;
// 		transition: all .3;

// 	&:before {
// 		// content: ">";
// 		content: url("data:image/svg+xml,%0A%3Csvg width='14px' height='22px' viewBox='0 0 14 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='CTA' transform='translate(-29.000000, -25.000000)' fill='%23FEFEFE'%3E%3Cg id='Group-5'%3E%3Cpath d='M29.5200412,25.5969016 C28.7970412,26.3629016 28.8330412,27.5729016 29.5960412,28.2939016 L37.7260412,35.9829016 L29.5970412,43.6709016 C28.8340412,44.3929016 28.7980412,45.6039016 29.5200412,46.3679016 C30.2420412,47.1329016 31.4520412,47.1669016 32.2200412,46.4449016 L41.8160412,37.3679016 C42.1940412,37.0089016 42.4110412,36.5039016 42.4110412,35.9829016 C42.4110412,35.4609016 42.1940412,34.9559016 41.8150412,34.5959016 L32.2180412,25.5199016 C31.4520412,24.7979016 30.2420412,24.8319016 29.5200412,25.5969016' id='Fill-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
// 		width: 3.4rem;
// 		// height: 50px;
// 		display: inline-block;
// 		position: absolute;
// 		top: - $input-btn-border-width;
// 		bottom: - $input-btn-border-width;
// 		right: calc(100% + 2px);
// 		background-color: $red-900;
// 		border: $input-btn-border-width solid $red-900;
// 		margin-right: 2px;
// 		text-align: center;
// 		line-height: $line-height-lg;
// 		padding-top: $input-btn-padding-y-lg;
// 		padding-bottom: $input-btn-padding-y-lg;
// 		transition: all .3s ease;

// 	}
// 	&:hover:before {
// 		background-color: darken($red-900, 8%);
// 	}
// }
/***/

.wp-block-buttons {

    .wp-block-button {

        .wp-block-button__link {
            padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
            font-size: var(--#{$prefix}btn-font-size);
            border-radius: var(--#{$prefix}btn-border-radius);
            
            font-family: $btn-font-family;
            font-weight: $btn-font-weight;
            line-height: $btn-line-height;
            box-shadow: $btn-box-shadow;
            transition: $transition-base;

            &:focus {
                box-shadow: $btn-focus-box-shadow;
            }

            &:active {
                box-shadow: $btn-active-box-shadow;
            }
        }

        &.is-style-outline .wp-block-button__link {
            border-width: $btn-border-width;
        }

    }
}

.wp-block-button__link,
.btn {
    position: relative;
    padding-left: 3.5rem !important;
    margin-left: .5rem;

    &.btn-lg {
        padding-left: 4rem !important;
    }

    &.btn-sm {
        padding-left: 2rem !important;
    }

    &:before {
        content: "";
        top: -$input-btn-border-width;
        bottom: -$input-btn-border-width;
        left: -.6rem;
        aspect-ratio: 1 / 1;
        border-radius: $border-radius-pill;
        position: absolute;
        background-color: $primary;
        background-image: url('../img/chevron-right-w.svg');
        background-size: auto 50%;
        background-repeat: no-repeat;
        background-position: center;
        transition: $transition-base;
    }

    &:hover:before {
        left: -.25rem;
        background-color: $secondary;
    }

    &.has-white-background-color,
    &.btn-outline-primary {
        border: 0;

        &:before {
            background-color: $secondary;
        }

        &:hover:before {
            background-color: $primary;
        }
    }

}

.btn-sm {

    &:before {
        left: -.5rem;
    }

    &:hover:before {

    }
}

.menu-btn > .nav-link {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;

    @include media-breakpoint-down(lg) {
        margin-top: $spacer * .5;
        margin-bottom: $spacer * .5;
    }
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background),
.btn-primary {
    background-color: $red;
    border-color: $red;
}


.wp-block-buttons {
    margin-bottom: $paragraph-margin-bottom;

    .wp-block-button {

        &.is-style-arrow-link {
 
            .wp-block-button__link {
                background-color: transparent;
                padding-left: 0;
                padding-right: 5rem;
                border-color: transparent;
                position: relative;
                text-align: left;
                box-shadow: none;

                &:not(.has-text-color) {
                    color: $body-color;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    mask-image: url('../img/flecha-derecha.svg');
                    mask-repeat: no-repeat;
                    mask-position: center;
                    background-color: $primary;
                    
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: $transition-base;
                }

                &:hover:after {
                    right: 0;
                }
            }

        }

    }
}

.wp-block-columns {
    gap: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &.is-style-gapless {
        @include media-breakpoint-up(md) {
            gap: 0;
        }
    }
}

.is-style-cifra-circulo {
    position: relative;
    @extend .display-1;
    color: $primary;
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
    line-height: 7rem;
    background-color: $light;
    // outline: 1rem double $light;
    text-align: center;
    // padding: $spacer;
    margin: $spacer $spacer $spacer * 3;
    // margin-bottom: $spacer * 3;

    &:before {
        content: "";
        position: absolute;
        left: -$spacer;
        right: -$spacer;
        top: -$spacer;
        bottom: -$spacer;
        border: 8px solid $light;
        border-radius: 7rem;
    }
}

.form-steps {

    .wp-block-column:not(:last-child) .is-style-cifra-circulo {

        &:after {

            @include media-breakpoint-up(md) {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: calc( 100% + $spacer*2 );
                width: $spacer * .5;
                border-top: 1px dashed $primary;
            }

            @include media-breakpoint-up(lg) {
                width: $spacer * 4;
            }

            @include media-breakpoint-up(xl) {
                width: $spacer * 8;
            }

        }

    }

}

/* Cards */
.card {

    .card-body {
        background-image: url('../img/fondo-card-body.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom-left-radius: var(--#{$prefix}card-border-radius);
        border-bottom-right-radius: var(--#{$prefix}card-border-radius);
    }

	.card-subtitle {
		font-weight: $font-weight-normal;
		margin-bottom: $spacer;
		color: $gray-600;
	}
}

article{
    
    &:nth-child(3n + 2) .card-body {
        background-position: left top;
    }
    &:nth-child(3n + 3) .card-body {
        background-position: right bottom;
    }
}

.borde-color {
	width: 100%;
	height: 12px;
}
.curso-destacado > .card {
	height: 100%;
}
#tax-desc-collapse.collapse:not(.show) {
	display: block;
	height: 8rem;
	overflow: hidden;
}
#tax-desc-collapse.collapsing {
	height: 8rem;
}
#collapse-group {
	margin-bottom: 2rem;
}

/***/
.wp-block-media-text {
    position: relative;
}
.wp-block-media-text__media,
.wp-block-image.is-style-lined,
.woocommerce-product-gallery__image {
    position: relative;

    img {
        border-radius: var(--#{$prefix}border-radius-xl);
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--#{$prefix}border-radius-xl);
        border: 4px solid $dark;
        transform: rotate(-3deg);
    }
}

.taxonomy-description {
    background-color: $light;
    margin-bottom: $grid-gutter-width;
    border-radius: $border-radius-lg;
    padding: $spacer;
}