#seccion-noticias {

	.ultima-noticia, .noticia-anterior, .accede-actualidad {
		display: flex;
		align-items: center;
	}
	.ultima-noticia {
		position: relative;
		.flecha {
			fill: $white;
		}

		.noticia-inner {
			max-width: 400px;
			margin: 0 auto;
			z-index: 1;
		}

		img.rounded-circle {
			width: 150px;
			height: 150px;
			object-fit: cover;
		}
	}

	.noticia-anterior {
		position: relative;
		background-color: $palepink;

		a {
			color: $body-color;
		}

		&:nth-child(3n + 1) {
			background-color: $palepink;
		}
		&:nth-child(3n + 2) {
			background-color: $purple;
			
			a {
				color: $white;
			}
		}
		&:nth-child(3n + 3) {
			background-color: $amber;
		}
	}
	.accede-actualidad {
		position: relative;
		background-color: $light;
	}
}

.entry-meta {

	// > * {
	// 	padding: .5rem 1rem;
	// 	background-color: $secondary;
	// 	margin-bottom: 1rem;
	// 	margin-right: 1rem;
	// 	display: inline-block;
	// }

	color: $gray-600;
	padding-bottom: .3rem;
	margin-bottom: .5rem;
	border-bottom: 1px solid $secondary;

	> * {
		background-color: $white;
		padding: .1rem .5rem; 
		margin-right: .5rem; 
		border-radius: $border-radius-sm;
	}
}

.single-post {
	background-color: $light;

	#primary .entry-content {
		background-color: $white;
		border-radius: $border-radius-xl;
		margin-bottom: $grid-gutter-width;
		padding-top: $spacer;
		padding: $spacer $spacer $spacer * 2;
	}
	
	.entry-content {
	
		&:before {
			content: "";
			width: 200px;
			height: 40px;
			margin-bottom: .5rem;
			position: relative;
			display: block;
			margin-bottom: 1.5rem;
			background-image: url('../img/bullet-elebe.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}

	}
}
@include media-breakpoint-up(sm) {
	.single-post #primary .entry-content {
		padding-left: 60px;

		&:before {
			margin-left: -50px;
		}
	}
}

/* Barra lateral */
.widget {
	@extend .card;
	@extend .card-body;
	font-size: $font-size-sm;

	// &:before {
	// 	content: "";
	// 	height: 12px;
	// 	width: 100%;
	// 	background-color: $primary;
	// 	display: block;
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 100%;
	// }

	// &.widget_recent_entries:before {
	// 	background-color: $camel;
	// }
	// &.widget_recent_comments:before {
	// 	background-color: $cyan;
	// }

	ul {
		padding-left: 0;
		list-style: none;

		li {
			a {
				display: block;
				// background-color: $white;
				padding: .2rem 0;
				margin-bottom: 2px;
			}
		}
	}

	.widget-title {
		text-transform: uppercase;
		font-size: $font-size-base;

	// 	&:before {
	// 		content: "";
	// 		height: 8px;
	// 		width: 120px;
	// 		background-color: $primary;
	// 		display: block;
	// 		margin-bottom: .4rem;
	// 	}
	}
}
/***/

/* Sticky sidebar */
.sidebar{
    will-change: min-height;
}

.sidebar__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}