/* Testimonios */
#carousel-testimonios {

	.carousel-inner {
		display: flex;
		align-items: center;
	}

	.testimonio-content {
		font-style: italic;
		color: $white;
	}
	.testimonio-nombre {
		font-weight: bold;
		color: $white;
	}

	.carousel-control-prev, .carousel-control-next {
		width: 60px;
		height: 50px;
		background-color: $primary;
		transition: all .3s ease;
		top: 50%;
		transform: translateY(-50%);

		&:hover {
			background-color: $black;
		}
	}
	.entry-content {
		padding: $spacer*3 80px;
	}
}
/***/

/* Equipo */
.hfeed-post.type-team {
	transition: $transition-base;

	&:hover {
		opacity: 1;
	}

	.card-img-top {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center top;
	}

	.flecha-sobre-imagen {
		width: 100px !important;
		height: 100px !important;
		bottom: 22%;
		right: -$spacer;
		color: $secondary;

		svg {
			// width: 100px;
			// height: 100px;
			object-fit: contain;
			object-position: right center;
		}
	}

	&:nth-child(3n + 1) {
		transform: rotate(-2deg);
	}

	&:nth-child(3n + 2) {
		transform: rotate(1deg) translateY(-4px);
	}

	&:nth-child(3n + 3) {
		transform: rotate(3deg) translateY(3px);
	}

	&:hover {
		transform: scale(.95);
	}
}
.single-team {

	.wp-block-image.is-style-lined img,
	.wp-block-image.is-style-lined:after {
		border-radius: var(--#{$prefix}border-radius-lg);
	}

	.wp-block-image.is-style-lined:after {
		border-color: $secondary;
	}

	.entry-content > div {
    	box-shadow: 0.5rem 0.75rem 0 rgba($primary, 1);
	}
}