article.single-course {
	padding: 0;

	.eb-course-desc-wrapper {
		border-top: 0;
	}
	.eb-course-img-wrapper img {
		width: auto;
	}
}

/* Edwiser cursos */
.eb-my-courses-wrapper .eb-my-course {
	display: flex;
	flex-wrap: wrap;
	margin-left: - $grid-gutter-width / 2;
	margin-right: - $grid-gutter-width / 2;
}
.eb-my-courses-wrapper .eb-my-course .hentry.wdm-col-3-2-1 {
	padding-left: $grid-gutter-width / 2;
	padding-right: $grid-gutter-width / 2;
	margin-bottom: $grid-gutter-width;
}
.eb-my-courses-wrapper h2 {
	border-bottom: 0;
	padding: 0;
}
.eb-course-action-cont {
	background-color: transparent;
	height: 140px;
}
.eb-course-action-progress-cont {
    line-height: 14px;
    height: 14px;
    background-color: $light;
    margin-bottom: 10px;
}
.eb-course-action-progress {
    line-height: 14px;
    height: 14px;
    background-color: $secondary;
	border-radius: $border-radius-pill;
}
.eb-user-profile {
	padding: 0;
	font-family: $font-family-sans-serif !important;
}
.eb-course-card-title.eb-course-title, .eb-course-card-title {
	color: $primary;
}
.wdm-course-grid {
	@extend .card;

	.wdm-caption {
		@extend .card-body;
	}
}
.eb-course-action-btn-start {
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-primary;
	margin-top: .5rem;

}
/***/

.eb-user-account-navigation {
	@extend .list-group;

	.eb-user-account-navigation-link {
		@extend .list-group-item;

		&.eb-active-profile-nav {
			@extend .active;
		}

		a {
			padding: 0;

			&:hover {
				background-color: transparent;
			}
		}
	}
}

.eb-user-account-content {
	padding: 0;
	border: 0;
}

.et_pb_button {
	@extend .btn;
}
.button-primary {
	@extend .btn-primary;
}