.main-nav-buttons {
    gap: $spacer * .75;
    margin-left: $spacer*.5;

    // @include media-breakpoint-up(lg) {
        // order: 1;
    // }
}

#main-nav {
    transition: $transition-base;

    .offcanvas {

        @include media-breakpoint-up(lg) {
            background-color: rgba( $white, 0.97) !important;
            box-shadow: var(--#{$prefix}offcanvas-box-shadow);
            border: 1px solid $light !important;
            border-radius: var(--#{$prefix}border-radius-pill);
            padding: $spacer*.5 $spacer*.75;
        }

        @include media-breakpoint-down(lg) {
            
            .dropdown-menu {
                border: none;
                box-shadow: none;
            }

            .nav-item {
                width: 100%;
                text-align: center;

                &:not(.menu-btn) .nav-link {
                    font-size: $font-size-lg;
                    font-weight: $font-weight-bold;
                }
            }

            .nav-link,
            .dropdown-item {
                text-align: center;
            }

            .navbar-nav > .nav-item:not(.menu-btn) {
                border-top: $border-width solid $gray-600;
            }
            
        }
    }
}