* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entry-meta {
    font-size: $font-size-sm;
    color: $gray-600;
}

.text-white,
.has-white-color {
	
	a {
		color: $white;
	}
}

.info-basica-privacidad {
    font-size: $font-size-sm;
    font-style: italic;
    color: gray;
}

.has-large-font-size, 
.has-x-large-font-size, 
.has-larger-font-size, 
.has-huge-font-size,
legend {
	line-height: $headings-line-height;
	font-family: $headings-font-family;
	font-weight: $font-weight-bold;
}

.post-number {
	font-size: $font-size-lg * 1.2;
}

.entry-content {
	ul {
		list-style-type: circle;

		li {
			margin: 8px 0;
			font-size: $font-size-base * 1.15;

		}
	}
}
.mas-info {
	font-weight: $font-weight-bold;
}

// ul.wp-block-list {
//     padding-left: 0;

//     li {
//         font-size: $font-size-base * 1.125;
//         margin-bottom: $spacer * .25;
//         background: url('../img/icono-check.svg') no-repeat left top transparent;
//         list-style-type: none;
//         padding-left: 2.5rem;
//         min-height: 2rem;
//     }

// }

h1, .h1 {

}

h2, .h2 {
    color: $primary;
}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}

.display-1 {

}

.display-2 {

}

.display-3 {

}

.display-4 {

}

small,
.small {
    line-height: $headings-line-height;
}

mark,
.mark {

}

blockquote,
.blockquote,
.wp-block-quote {
    font-style: italic;
    font-size: $font-size-base * 1.375;
}

@include media-breakpoint-up(lg) {

    .display-1 {

    }
    
    h1, .h1 {

    }
    
    h2, .h2 {

    }
    
    h3, .h3 {

    }
    
    h4, .h4 {

    }

    h5, .h5 {

    }

    h6, .h6 {

    }

    .display-1 {

    }
    
    .display-2 {
    
    }
    
    .display-3 {
    
    }
    
    .display-4 {
    
    }
    
}

#search-wrapper,
#error-404-wrapper {
    padding-top: $spacer*4;

    h1.page-title {
        font-size: $font-size-base * 1.75;
    }

    h2 {
        font-size: $font-size-base * 1.4;
    }
}

.fields, .entry-footer {
	.label {
		background-color: $secondary;
		padding: .25rem 1rem;
		margin-bottom: .25rem;
		display: inline-block;
		font-size: .7rem;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		border-radius: $border-radius-pill;
	}
	&.fields .label {
		color: $primary;
	}
	&.entry-footer .label {
		background-color: $primary;
		color: $white;
	}
	.value {
		font-size: $font-size-sm;
		color: $gray-700;
	}

	&.fields.inline {

		.item {
			background-color: transparent;
			padding: 0;

			.label, .value {
				display: inline-block;
				margin-right: 6px;
			}
		}
	}

	.item {
		border: $border-width solid $border-color;
		border-radius: $border-radius;
		padding: .5rem;
	}
}

.page-title {
	padding-left: 0;
}