:root {
    --woocommerce: #{$primary};
    --wc-green: #{$green};
    --wc-red: #{$red};
    --wc-orange: #{$orange};
    --wc-blue: #{$blue};
    --wc-primary: #{$primary};
    --wc-primary-text: #{$primary};
    --wc-secondary: #{$secondary};
    --wc-secondary-text: #{$secondary};
    --wc-highlight: #{$primary};
    --wc-highligh-text: #{$white};
    --wc-content-bg: #{$white};
    --wc-subtext: #{$secondary};
    --wc-form-border-color: #{$input-border-color};
    --wc-form-border-radius: #{$input-border-radius};
    --wc-form-border-width: #{$input-border-width};
    --wc-form-color-background: #{$body-bg};
}

.woocommerce {
    
    form .form-row {
        display: block;
    }

    .woocommerce-result-count {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        margin-top: $spacer;
    }

}

.woocommerce table.shop_table {
    border-collapse: collapse;
}

.woocommerce table.shop_attributes td {
    font-style: normal;
}


.woocommerce form .form-row {
    margin-bottom: $paragraph-margin-bottom;

    .input-text,
    select {
        padding: $input-padding-y $input-padding-x;
    }

    label {
        margin-bottom: 0;
    }
}

.woocommerce form .show-password-input, 
.woocommerce-page form .show-password-input {
    top: 50%;
}

.woocommerce-column {
    margin-bottom: $grid-gutter-width;
}

.coupon {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacer;

    &:before,
    &:after {
        content: none !important;
    }
}

.term-description {
	margin-bottom: 2rem;
}
.woocommerce span.onsale {
	background-color: $secondary !important;
	border-radius: 0;
	border: 1px solid $white;
}
.woocommerce form .form-row .optional {
	display: none;
}

div.product div.summary + * {
    clear: both;
}

#add_payment_method table.cart td.actions .coupon .input-text, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    padding: $input-padding-y $input-padding-x;
}

.woocommerce ul.products,
.woocommerce-page ul.products,
.wp-block-woocommerce-product-template {

    li.product:not(.product-category) {
        @extend .card;
        overflow: hidden;
    }

    li.product {
        padding-bottom: $card-spacer-y;
        margin: 0 $grid-gutter-width $spacer*2 0;
        width: calc( 100% / 4 - #{$grid-gutter-width*3/4} );
        text-align: center;
        box-shadow: 0.75rem 0.75rem 0 rgba($palepink, 1);
        transition: $transition-base;

        &.last {
            margin-right: 0 !important;
        }

        &:hover {
            transform: rotate(-2deg);
        }

        .woocommerce-loop-product__title,
        .price,
        .add-to-cart-container  .add-to-cart-container {
            padding: 0 $spacer;
        }

        .add-to-cart-container {
            margin-top: $spacer;
        }

        .woocommerce-loop-product__title {
            font-size: $h5-font-size;
            margin-bottom: .5em;
        }

    }
    
    &.columns-3 li.product {
        width: calc( 100% / 3 - #{$grid-gutter-width*2/3} );
    }

    &[class*=columns-] li.product {

        @media (max-width: 768px) {
            width: calc( 100% / 2 - #{$grid-gutter-width/2} );
            margin-right: 0;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
         }
 
 
    }

}

.wp-block-woocommerce-product-template {
    grid-gap: $grid-gutter-width !important;

    li.product {
        width: 100%;
    }
}

.comment-notes,
.woocommerce-noreviews {
    color: $text-muted;
}

#commentform {
    margin-top: $spacer;

    @include media-breakpoint-up(md) {
        
        display: flex;
        flex-wrap: wrap;

        > * {
            flex: 0 0 100%;

            &.comment-form-author,
            &.comment-form-email {
                flex: 0 0 calc( 50% - #{$grid-gutter-width/2} );
            }

            &.comment-form-author {
                margin-right: $grid-gutter-width/2 !important;
            }

        }

    }

}

.woocommerce table {

    tr {
        border-left: 0;
        border-right: 0;

        &:nth-child(even) {

            td,
            th {
                background: transparent;
            }
        }
        
    }

    th {
        background-color: transparent;
    }

    td {
        font-style: normal;
    }

    &.variations {

        tr {
            border: 0;
        }
        
        th,
        td {
            padding-top: .25rem;
            padding-bottom: .25rem;
            border: 0;
        }

        select {
            @extend .form-control;
        }
    }
}

/* WooCommerce Cart and checkout */

.wc-block-components-button:not(.is-link) {
    @extend .btn;
    @extend .btn-primary;

    &:active {
        background-color: transparent !important;
    }
}

.wc-block-components-button.wc-block-checkout__shipping-method-option.wc-block-checkout__shipping-method-option--selected {
    background-color: hsla(0,0%,7%,.1) !important;
}

.wc-block-components-radio-control .wc-block-components-radio-control__input:checked:before {
    background: $primary !important;
}

.wc-block-components-form .wc-block-components-text-input, 
.wc-block-components-text-input {
    
    label {
        font-size: $font-size-sm !important;
        color: $text-muted !important;
    }
}

.is-large .wc-block-checkout__sidebar {

    &.is-sticky {
        top: 84px;
    }
}

/* end WooCommerce Cart and checkout */


/* WooCommerce account */
.woocommerce-account,
.woocommerce-cart,
.woocommerce-checkout {

    h1,
    h2 {
        font-size: $lead-font-size;
    }
}

.woocommerce-Address {
    
    &.col-1,
    &.col-2 {
        width: unset;
    }

}

address,
.woocommerce .woocommerce-customer-details address {
    border: $card-border-width solid $card-border-color;
    padding: $modal-inner-padding;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
}

.woocommerce-Button,
a.button {
    
}

.woocommerce {
    
    table.my_account_orders {
        
        .button {
            margin-right: $spacer*.25;
            margin-top: $spacer*.125;
            margin-bottom: $spacer*.125;
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-outline-primary;
        }

        td {
            vertical-align: top;
            line-height: 1.1;
        }
    }

}

.woocommerce-MyAccount-navigation {
    margin-bottom: $spacer*2;

    .woocommerce-MyAccount-navigation-link {
        font-family: var(--wp--preset--font-family--font-quote); 
    }
}

/* end WooCommerce account */


/* Side cart plugin */

.xoo-wsc-container, 
.xoo-wsc-slider,
.xoo-wsc-body {
    background-color: $body-bg;
}

.xoo-wsc-sc-subt {
    font-size: $font-size-sm;
}

.xoo-wsc-body, 
.xoo-wsc-body span.amount, 
.xoo-wsc-body a {
    color: $body-color;
}

.xoo-wsc-ft-buttons-cont a.xoo-wsc-ft-btn,
.xoo-wsc-container .xoo-wsc-btn {
    background-color: $primary;
    border-width: $border-width;   
    border: $border-width solid $primary;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px;

    &:hover {
        background-color: transparent;
        border: $border-width solid $primary;
        color: $primary;
    }

}

a.xoo-wsc-ft-btn-checkout .amount {
    font-style: normal;
}

.xoo-wsc-qty-price,
.xoo-wsc-qty-price span {
    font-size: $font-size-sm !important;
}

/* end Side cart plugin */

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.added_to_cart {
    font-size: $font-size-sm;
}

.product_meta {
	color: $black;

	> span {
		display: block;
		margin-bottom: .4rem;

		&.sku_wrapper {
			font-weight: $font-weight-bold;
		}
		&.posted_in, &.tagged_as {
			display: none;
		}
	}
}

.products.row {
	clear: both;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price,
.wc-block-components-product-price {
    font-weight: $font-weight-bold;
    font-size: 1.25em;
    color: $body-color;
}

.woocommerce ul.products li.product .price {
    font-size: $font-size-base;
    padding: .25rem $spacer;
}
.form-check-wrapper {

	&.form-check-wrapper-radio {

		.woocommerce-input-wrapper {
			@extend .form-check;
	
			label {
				@extend .form-check-label;
			}

		}

	}

	&.form-check-wrapper-checkbox {

		.woocommerce-input-wrapper {
			@extend .form-check;
	
			label {
				@extend .form-check-label;
			}

			input {
				position: absolute;
				left: 0;
				top: .5em;
			}

		}

	}
}

#order_review_heading {
	margin-top: 2rem;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	background-color: $white;
}
.star-rating span:before,
.star-rating::before,
p.stars a:hover:after, 
p.stars a:after {
    color: $secondary !important;
    letter-spacing: 1px; 
}
.woocommerce-loop-category__title {

	.count {
		// padding: 0;
		background-color: $secondary;
		font-weight: $font-weight-normal;
		font-size: $font-size-sm;
		border-radius: 50px;
		min-width: 22px;
		display: inline-block;
		text-align: center;
	}
}
.product-category {
	text-align: center;
	img {
		max-height: 260px;
		width: auto;
		margin: 0 auto;
		display: block;
	}
}

.btn.disabled, .btn:disabled, .wpcf7 input.disabled[type=submit], .wpcf7 input:disabled[type=submit] {
    opacity: .25;
}
.woocommerce-variation-price {
	font-size: 1.4rem;
	margin-bottom: .5rem;
}
.products.related {
	.card-title {
		font-size: 1.4rem;
	}
	.card-body p, .fields {
		display: none;
	}
}
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary {
	width: 100%;
	float: none;
}
input.alg_open_price {
	display: inline-block;

	~ button[name="add-to-cart"] {
		margin-bottom: 4px !important;
		margin-left: 1rem;
	}
}
.woocommerce-orders-table__cell-order-actions > a.button {
	margin-right: 6px;
}
#pwgc-redeem-gift-card-form {
	width: 100%;
	margin-bottom: 2rem;

	#pwgc-redeem-form {
		width: 100%;
		display: flex;
		align-items: center;

		label, input {
			margin-right: 1rem;
			margin-bottom: 0 !important;
		}
	}
}
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
	margin-left: auto;
}
div.product .entry-header .price,
.woocommerce ul.products li.product .price,
.woocommerce-variation-price .price,
.wc-block-components-product-price {
    border-radius: $border-radius-pill;
    display: inline-block !important;
    padding: .5rem 1rem;
    background-color: $secondary;
    margin-bottom: 1rem;
    box-shadow: .3rem .3rem 0 0 rgba($palepink, 1);
}

/* WC tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
	border-bottom: 1px solid $light;

	li:before, li:after, &before {
		display: none;
	}
	li {
		border-radius: 0;
		background: transparent;
		border: 0;

		a {
			padding: 1rem;
		}
	}
	li.active {
		background: $primary;
		color: $white;
	}
}

.woocommerce-product-gallery {
    padding-left: $grid-gutter-width * .5;
    padding-right: $grid-gutter-width * .5;
}
/**/
// @media all and (min-width: 769px) {
// 	.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
// 		margin-right: 3.8%;
// 	}
// 	.woocommerce ul.products li:nth-child(2n+1), .woocommerce-page ul.products li:nth-child(2n+1) {
// 		margin-right: 0;
// 	}
// 	.woocommerce ul.products li:nth-child(3n+1), .woocommerce-page ul.products li:nth-child(3n+1) {
// 		clear: both;
// 		margin-right: 3.8%;
// 	}
// 	.woocommerce ul.products li.product, 
// 	.woocommerce-page ul.products li.product {
// 		margin-right: 3.8%;
// 		clear: none;

// 		&:nth-child(3n) {
// 			margin-right: 0;
// 		}
// 		&:nth-child(3n+1) {
// 			clear: both;
// 		}
// 	}
// }
// @include media-breakpoint-down(xs) {
// 	.woocommerce ul.products li.product, 
// 	.woocommerce-page ul.products li.product {
// 		margin-right: 0 !important;
// 		width: 100% !important;
// 	}
// }
/***/
